body {
    background-color: #34495e;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* height: 80vh; */
    /* margin: 0; */
    /* overflow: hidden; */
}

.dash {
    color: white;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid #ffffff;
    display: inline-block;
}

.game-container {
    padding: 40px 0 30px 90px;
    /* position: relative; */
    margin-left: 200px;
    /* height: 350px; */
    width: 300px;
   
}

.figure-container {
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    /* position: absolute; */
    top: 100px;
   
}

