<!DOCTYPE html>
<html>
    <head>
        <title>Layout Design</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
        <body>
            <div class="container">
                <!-- Navbar -->
                <div class="navbar">
                    <img src="Logo.png" alt="Logo image" height="100" width="100" align="left">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">SIGN UP</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </div>
                <!-- Image Section -->
                <div class="image">
                    <img src="banner.jpg" alt="Main image" height="350" width="1181">
                </div>
                <!-- column layout -->
                <div class="clearfix">
                    <div class="col firstcol">
                        <h3>CONTENT 1</h3>  
                  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                          Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
                    </div>
                    <div class="col secondcol">
                        <h3>CONTENT 2</h3>  
                  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                           Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
                    </div>
                    <div class="col thirdcol">
                        <h3>CONTENT 3</h3>  
                  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique.
                           Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
                    </div>
                </div>
                <!-- Footer -->
                <div class="footer">
                    <span><b>copyright © 2020 all rights reserved</b></span>
                </div>

                    

                    
            </div>
             
        </body>
</html>