body {
    font-family: 'Roboto', sans-serif;
    /* background-color: skyblue; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;           /* yo use garyo bhane padding margin haru dida width milera baschha*/
}

/*Header*/
header {
    /* padding: 5px 0; */
    background-color: red;
  }
  
.main {
  background-color:green;
  width: 100% ;
  margin : 0 auto;
  padding : 0px 20px;
}

.left {
  float: left;
}
.right {
  float: right;
}

.clearfix:after {
  content: " ";
  display:table;
  clear: both;
}

.logo img {
    width:100%;
   vertical-align: middle;
}
  
/*Navigation bar */
nav {
  display: none;
}

nav ul {
  list-style: none;
  padding: 23px 0px;
  background: grey;
  padding-right: 140px;
}

nav ul li {
  float: left;
  text-decoration: none;
}
nav ul li a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 51px;
}

.login-btn {
  background: black;
  border-radius: 5px;
  border-color:  white;
  color: white;
  padding:12px 50px;
  font-size: 17px;
}

.login {
  padding-top: 5px;
}

/*Hamberger menu */
.hamburger {
  display: block;
  padding-top: 25px;
}
.hamburger div {
  width: 25px;
  height: 3px;
  margin: 6px;
  background-color: white;
}

/*For Tablet*/
@media (min-width: 994px) {
   .main {
      max-width: 850px;
  }
 
  nav,
  .login-btn
  {
      display: none;
  }

} 

/*For Laptop*/
@media (min-width:1200px) {
    .logo img {
        width:200px;
        height:60px;
    }
  body {
      font-size: 16px;
  }
  .main {
     max-width: 1097px;
  }

  nav,
  .login-btn {
      display: block;
  }

  .hamburger {
      display: none;
  }
} 

/* Main page */
.main-text {
  background-color: violet;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  background-color: tomato;
}

h1 {
  padding: 20px 0 30px;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: white;
  background-color: yellowgreen;
}

.container p {
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 50px;
  font-size: 18px;
  color: white;
  background-color: teal;
}

/* Main button */
.buttons {
  text-align: center;
  background-color: thistle;
  padding:20px 0 30px;
}


.btn1, .btn2 {
  background: #4452FE;
  /* border-radius: 5px; */
  border-color: #4452FE;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
}

.btn2 {
    margin-left: 15px;
    border-color:  white;
    background: black;
}

/* Main Image */
.board-image {
  background-color:#181818;
  /* background-image: url(images/Gradient.png); */
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*For Tablet*/
@media (min-width: 994px) {
    .container {
       max-width: 850px;
   }

   h1 {
    font-size: 80px;
    line-height: 88px;
   }

   .container p {
    font-size: 22px;
    line-height: 30px;
   }

   .btn1, .btn2 {
    padding: 14px 18px;
    font-size: 17px;
    line-height: 25px;
   }

   .board-image {
    margin-bottom: 80px;
  }
} 

/* For laptop */
@media (min-width: 1200px) {
  .container {
     max-width: 1097px;
 }

 h1 {
   font-size: 80px;
  line-height: 88px;
 }

 .container p {
  font-size: 22px;
  line-height: 30px;
 }

 .btn1, .btn2 {
  padding: 14px 18px;
  font-size: 17px;
  line-height: 25px;
 }

 .board-image {
   margin-bottom: 100px;
 }
} 

/* Features */
.features {
  background-color: red;
  margin-bottom: 40px;
}

.features-content {
  background-color:green;
  width: 100% ;
  margin : 0 auto;
  padding : 0px 20px;
  }

h3 {
  padding: 20px 0 20px;
  font-size: 30px;
  line-height: 49px;
  text-align: center;
  color: white;
  background-color: yellowgreen;
}

.features-content p {
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
  color: white;
  background-color: teal;
}

.features-img {
  width: 100%;
  /* margin-bottom: 10px; */
}

.features-text {
  margin-top: 10px;
  background-color: grey;
  width: 100%;
}

.text1{
  margin-bottom: 30px;
}

.symbol1 {
  width: 10%;
}

.info1 {
  width: 90%;
  background-color: tomato;
}

.info1 h5{
  color: white;
  padding-left: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

span {
  color: white;
  font-size: 15px;
  background-color: rosybrown;
}

/*For Tablet*/
@media (min-width: 994px) {
.features {
  margin-bottom: 80px;
}

  .features-content {
     max-width: 850px;
 }

 .features-img {
   width: 60%;
 }

 .features-text {
   width: 40%;
   padding: 31px 0;
 }

 .text1{
  /* padding-top: 30px; */
 margin: 15px 40px 15px 20px;
 
}

.info1 h5 {
 padding-left: 20px;
 font-size: 20px;
 line-height: 30px;
}

span {
 font-size: 16px;
line-height: 24px;
}

} 

/* For laptop */
@media (min-width: 1200px) {
  .features {
    margin-bottom: 100px;
  }

  .features-content {
     max-width: 1097px;
 }

 .features-img {
   width: 70%;
 }

 .features-text {
   width: 30%;
   /* padding: 140px 0; */
 }

 .text1{
   padding-top: 30px;
  margin: 30px 40px 30px 20px;
  
}

.info1 h5 {
  padding-left: 20px;
  font-size: 20px;
  line-height: 30px;
}

span {
  font-size: 16px;
line-height: 24px;
}
} 

/* Contents */
.main-content {
  background-color: violet;
}

.content-inside {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  background-color: tomato;
}

.content-inside p {
  padding-bottom: 30px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
  color: white;
  background-color: teal;
}

.item1 {
  border-radius: 15px;
  width: 100%;
  background-color:white;
  margin: 30px 0;
  padding-bottom: 30px;
}

.item1 h5{
  color: black;
  /* padding-left: 20px; */
  font-size: 22px;
  padding: 30px;
  text-align: center;
}

.item1 p {
  color: black;
  padding: 20px;
  font-size: 14px;
  background-color: thistle;
}

.item1-btn {
  background: #4452FE;
  /* border-radius: 5px; */
  border-color: #4452FE;
  color: black;
  padding: 16px 54px;
  font-size: 14px;
}

.click1 {
  text-align: center;
  margin: 55px 0;
  background-color: paleturquoise;
}

.item2 {
  border-radius: 15px;
  background-color:white;
  width: 100%;
  /* background-color:white; */
  margin-bottom: 30px;
  /* padding-bottom: 35px; */
}

.item2 h5 {
  color: black;
  /* padding-left: 20px; */
  font-size: 22px;
  padding: 30px;
  text-align: center;
}

.item2 p {
  color: black;
  padding: 20px;
  font-size: 14px;
  background-color: thistle;
}

.item2-btn {
  background: #4452FE;
  /* border-radius: 5px; */
  border-color: #4452FE;
  color: black;
  padding: 16px 76px;
  font-size: 14px;
}

.click2 {
  text-align: center;
  margin: 42px 0;
  background-color: paleturquoise;
}



@media (min-width: 994px) {
  .content-inside {
       max-width: 850px;
    }

  .item1 {
    width: 45%;
    /* float: left; */
  }

  .item2 {
    width: 53%;
    margin-top: 30px;
  }

  .click1 {
    margin: 90px 0;
  }
  
  } 

  @media (min-width: 1200px) {
    .content-inside {
         max-width: 1057px;
      }
  
    .item1 {
      width: 45%;
      padding-bottom: 45px;
      /* float: left; */
    }
  
    .item2 {
      width: 53%;
      margin-top: 30px;
    }
  
    .click1 {
      margin-top: 80px ;
    }
    
    .click2 {
      margin: 40px 0;
      }

      .macbook {
        padding-top: 25px;
      }
  }







